<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="container">
        <div>请输入注册信息</div>
        <form action="/success_register" method="post">
            <input type="text" name="account" placeholder="请输入用户名" class="message">
            <input type="password" name="password" placeholder="请输入密码" class="message">
            <br>
            <% if(error === "用户已存在" || error === "用户名或密码不能为空"){ %>
                <span class="error">
                    <%= error %>
                </span>
            <% } %>
            <input type="submit" value="注册" class="submit">
        </form>
    </div>
</body>
</html>